<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{today}}
    {%for id in books%}
    <div>
        <h1>目前書籍內容</h1>

        <li>{{id}} - {{books[id]["name"]}}
            <p>價格:<b>{{books[id]["price"]}}</b></p>
            <p>
                <img scr="{{books[id]['image_url']}}" alt="">
            </p>
        </li>
    </div>


    {%endfor%}



</body>

</html>