<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<h1> 目前時間:{{today}}</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, accusantium. Ea suscipit repellendus soluta nam est
    similique hic, provident, alias sit minus nemo explicabo quia esse officiis exercitationem sequi. Deleniti.
</p>
<p><a href="/pm25" target="_blank">PM2.5</a></p>
<a href="/books" target="_blank">書本資料</a>
<br><a href="/pm25-chart" target="_blank">P2.5圖表</a></br>
<script>

    // $('h1').text('5555555')
</script>


<body>

</body>

</html>