<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據圖</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
</head>

<body>

    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="six-county" style="width: 600px;height:400px;"></div>
    <!-- 使用ajax 進行資料取得後繪製 -->
    <script>
        const Chart1 = echarts.init(document.getElementById('main'));
        const Chart2 = echarts.init(document.getElementById('six-county'));
        drawPM25();

        title = ['六都PM2.5平均值', result["title"]]
        xdata = [Object.keys(result), result['xData']]

        function chartpic(chart, title, label, xData, yData, color = "00008b") {
            let option = {
                title: {
                    text: title
                },
                tooltip: {},
                legend: {
                    data: ['label']
                },
                xAxis: {
                    data: xData
                },
                yAxis: {},
                series: [
                    {
                        itemStyle: {
                            color: color
                        },

                        name: 'label',
                        type: 'bar',
                        data: yData
                    }
                ]
            };

            chart.setOption(option);
        }



        // function echartSixPm25(result) {
        //     let option = {
        //         title: {
        //             text: '六都PM2.5平均值'
        //         },
        //         tooltip: {},
        //         legend: {
        //             data: ['PM2.5']
        //         },
        //         xAxis: {
        //             data: Object.keys(result)
        //         },
        //         yAxis: {},
        //         series: [
        //             {
        //                 name: 'PM2.5',
        //                 type: 'bar',
        //                 data: Object.values(result)
        //             }
        //         ]
        //     };

        //     Chart2.setOption(option);
        // }

        // function echartPic1(result) {
        //     let option = {
        //         title: {
        //             text: result["title"]
        //         },
        //         tooltip: {},
        //         legend: {
        //             data: ['PM2.5']
        //         },
        //         xAxis: {
        //             data: result['xData']
        //         },
        //         yAxis: {},
        //         series: [
        //             {
        //                 name: 'PM2.5',
        //                 type: 'bar',
        //                 data: result['yData']
        //             }
        //         ]
        //     };

        //     Chart1.setOption(option);
        // }



        function drawPM25() {
            $.ajax(
                {
                    url: "/pm25-json",
                    type: "GET",
                    dataType: "json",
                    success: (result) => {
                        console.log(result);

                        chartpic(Chart1, result["title"], 'PM2.5',
                            result['xData'],
                            result['yData'])



                        chartpic(Chart2, '六都PM2.5平均值', 'PM2.5',
                            Object.keys(result['sixData']),
                            Object.values(result['sixData'], color = "ff69b4"))


                    },
                    error: () => {
                        alert("取得資料失敗!");
                    }
                }
            )
        }

    </script>
</body>

</html>