<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據圖</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
</head>

<body>
    <p>PM2.5 最大值的城市: {{ highes[0] }}<span>{{ highes[1] }}</span> </p>
    <p>PM2.5 最小值的城市: {{ lowest[0] }}<span>{{ lowest[1] }}</span></p>

    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="six-county" style="width: 600px;height:400px;"></div>
    <select name="selectCounty" id="selectCounty">
        {% for county in countys %}
        <option value="{{county}}">{{county}}</option>
        {% endfor %}

    </select>
    <div id="county" style="width: 600px;height:400px;"></div>
    <!-- 使用ajax 進行資料取得後繪製 -->
    <script src="../static/js/pm25-chat.js">

    </script>
</body>

</html>